.fixed_image {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.contact_us_area {
  width: 100%;
  height: 8rem;
  margin: auto;
}

.form-body {
  text-align: center;
  margin: 0 43%;
}
.form-area {
  width: 100%;
}

.contact_information {
  width: 30rem;
  background-color: rgb(129, 60, 209);
  color: white;
}

.contact_us_area {
  margin: -40rem 0 auto;
}
@media (max-width: 1400px) {
  .fixed_image {
    width: 100vw;
    height: 70vh;
  }
  .contact_us_area {
    margin: -40rem 0 auto;
  }
}
@media (max-width: 1200px) {
  .fixed_image {
    width: 100vw;
    height: 60vh;
  }
  .contact_us_area {
    margin: -36rem 0 auto;
  }
}

@media (max-width: 576px) {
  .contact_information {
    margin-left: -2rem;
  }
}
