.eight_image {
  margin: 3rem 8rem;
  width: 60rem;
  height: 35rem;
}
@media (max-width: 992px) {
  .eight_image {
    width: 45rem;
    height: 30rem;
  }
}

@media (max-width: 810px) {
  .eight_image {
    width: 35rem;
    height: 20rem;
  }
}

@media (max-width: 576px) {
  .eight_image {
    width: 20rem;
    height: 12rem;
  }
}
@media (max-width: 412px) {
  .eight_image {
    width: 20rem;

    margin: 6rem 0.8rem;
  }
}

@media (max-width: 360px) {
  .eight_image {
    width: 20rem;

    margin: 6rem 0.8rem;
  }
}
